{% extends 'app/main.html' %}
{% block content %}
<div class="header-bar">
    <a href="{% url 'tasks' %}"><svg style="height: 20px;margin-top: 10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg></a>
</div>
<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        <p style="text-align: center;">Are you sure you wanna delete this? "{{task}}"</p>
        <input style="margin-left: calc(50% - 40px);" class="btn" type="submit" value="Delete" />
    </form>
</div>

{% endblock content %}